*~
*#
*.elc
*.core
.svn
.smex-items
ac-comphist.dat
ido.last

/eshell/alias
/eshell/lastdir
eshell/history
TAGS
tramp
recentf
.emacs-project
elpa/abc-mode-readme.txt
elpa/ace-jump-mode-readme.txt
elpa/ack-and-a-half-readme.txt
elpa/ack-menu-readme.txt
elpa/adaptive-wrap-readme.txt
elpa/ag-readme.txt
elpa/all-ext-readme.txt
elpa/anything-git-grep-readme.txt
elpa/anything-readme.txt
elpa/aok-readme.txt
elpa/auto-indent-mode-readme.txt
elpa/bm-readme.txt
elpa/boxquote-readme.txt
elpa/color-moccur-readme.txt
elpa/confluence-readme.txt
elpa/dired+-readme.txt
elpa/el-x-readme.txt
elpa/eldoc-eval-readme.txt
elpa/elpy-readme.txt
elpa/find-file-in-project-readme.txt
elpa/gh-readme.txt
elpa/gitty-readme.txt
elpa/idle-highlight-mode-readme.txt
elpa/iedit-readme.txt
elpa/less-css-mode-readme.txt
elpa/list-utils-readme.txt
elpa/loop-readme.txt
elpa/mc-extras-readme.txt
elpa/paredit-everywhere-readme.txt
elpa/popup-readme.txt
elpa/shell-here-readme.txt
elpa/smex-readme.txt
elpa/surround-readme.txt
elpa/vline-readme.txt
elpa/archives/
.emacs.desktop
disabled/erlware-mode/
semanticdb/
srecode-map.el
url/cookies
.ropeproject
.org-id-locations
data/smex-items
places
/idx/MAIN_1gj1tt5bpk6ozacm.seg
/idx/MAIN_56ktnmhp5je10hau.seg
/idx/MAIN_9111jmkm1843hrmd.seg
/idx/MAIN_WRITELOCK
/idx/MAIN_c0xii7pxaqjodqno.seg
/idx/MAIN_f853s4si8fm9270h.seg
/idx/MAIN_h1dlrji2dko64kc7.seg
/idx/MAIN_jxakdypwk3lqmn9s.seg
/idx/MAIN_kabstwsdjq5aih0d.seg
/idx/MAIN_m4bhn8mau0jetedw.seg
/idx/MAIN_nj8t30dmkvfv6fwx.seg
/idx/MAIN_qh6x2bk6qawz53uv.seg
/idx/_MAIN_11.toc
/elpa/helm-j-cheatsheet-readme.txt
/elpa/iy-go-to-char-readme.txt
/elpa/j-mode-readme.txt
/bookmarks
/textdb/index.db
