[submodule "forked-plugins/lua-mode"]
	path = forked-plugins/lua-mode
	url = vps:git/forks/./lua-mode
[submodule "forked-plugins/direx-el"]
	path = forked-plugins/direx-el
	url = vps:git/forks/./direx-el
[submodule "forked-plugins/emacs-jedi-direx"]
	path = forked-plugins/emacs-jedi-direx
	url = vps:git/forks/./emacs-jedi-direx
[submodule "forked-plugins/dylan-mode"]
	path = forked-plugins/dylan-mode
	url = vps:git/forks/./dylan-mode
[submodule "forked-plugins/yasnippet"]
	path = forked-plugins/yasnippet
	url = vps:git/forks/./yasnippet
[submodule "forked-plugins/emacs-python-environment"]
	path = forked-plugins/emacs-python-environment
	url = vps:git/forks/./emacs-python-environment
[submodule "forked-plugins/pyvenv"]
	path = forked-plugins/pyvenv
	url = vps:git/forks/./pyvenv
[submodule "forked-plugins/expand-region-el"]
	path = forked-plugins/expand-region-el
	url = vps:git/forks/./expand-region-el
[submodule "forked-plugins/emacs-async"]
	path = forked-plugins/emacs-async
	url = vps:git/forks/./emacs-async
[submodule "forked-plugins/helm"]
	path = forked-plugins/helm
	url = vps:git/forks/./helm
[submodule "forked-plugins/web-mode"]
	path = forked-plugins/web-mode
	url = vps:git/forks/./web-mode
[submodule "forked-plugins/nim-mode"]
	path = forked-plugins/nim-mode
	url = vps:git/forks/./nim-mode
[submodule "forked-plugins/ac-slime"]
	path = forked-plugins/ac-slime
	url = vps:git/forks/./ac-slime
[submodule "forked-plugins/dash"]
	path = forked-plugins/dash
	url = vps:git/forks/./dash
[submodule "forked-plugins/emacs-elixir"]
	path = forked-plugins/emacs-elixir
	url = vps:git/forks/./emacs-elixir
[submodule "forked-plugins/emacs-helm-ag"]
	path = forked-plugins/emacs-helm-ag
	url = vps:git/forks/./emacs-helm-ag
[submodule "forked-plugins/magit"]
	path = forked-plugins/magit
	url = vps:git/forks/./magit
[submodule "forked-plugins/multiple-cursors"]
	path = forked-plugins/multiple-cursors
	url = vps:git/forks/./multiple-cursors
[submodule "forked-plugins/org-html-themes"]
	path = forked-plugins/org-html-themes
	url = vps:git/forks/./org-html-themes
[submodule "forked-plugins/slime"]
	path = forked-plugins/slime
	url = vps:git/forks/./slime
[submodule "forked-plugins/virtualenvwrapper"]
	path = forked-plugins/virtualenvwrapper
	url = vps:git/forks/./virtualenvwrapper
[submodule "forked-plugins/wrap-region"]
	path = forked-plugins/wrap-region
	url = vps:git/forks/./wrap-region
[submodule "forked-plugins/alchemist-mode"]
	path = forked-plugins/alchemist-mode
	url = vps:git/forks/./alchemist-mode
[submodule "forked-plugins/mediawiki"]
	path = forked-plugins/mediawiki
	url = vps:git/forks/./mediawiki
[submodule "forked-plugins/swiper"]
	path = forked-plugins/swiper
	url = vps:git/forks/./swiper
[submodule "forked-plugins/j-mode"]
	path = forked-plugins/j-mode
	url = vps:git/forks/./j-mode
[submodule "forked-plugins/auto-complete"]
	path = forked-plugins/auto-complete
	url = vps:git/forks/auto-complete
[submodule "forked-plugins/elpy"]
	path = forked-plugins/elpy
	url = vps:git/forks/elpy
[submodule "forked-plugins/emacs-jedi"]
	path = forked-plugins/emacs-jedi
	url = vps:git/forks/emacs-jedi
[submodule "forked-plugins/hy-mode"]
	path = forked-plugins/hy-mode
	url = vps:git/forks/hy-mode
[submodule "forked-plugins/popup-el"]
	path = forked-plugins/popup-el
	url = vps:git/forks/popup-el
[submodule "forked-plugins/emacs-neotree"]
	path = forked-plugins/emacs-neotree
	url = vps:git/forks/emacs-neotree/
[submodule "forked-plugins/pony-mode"]
	path = forked-plugins/pony-mode
	url = vps:git/forks/pony-mode
[submodule "forked-plugins/powerline"]
	path = forked-plugins/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "forked-plugins/synosaurus"]
	path = forked-plugins/synosaurus
	url = https://github.com/hpdeifel/synosaurus/
[submodule "forked-plugins/ztree"]
	path = forked-plugins/ztree
    url = git@github.com:fourier/ztree.git
[submodule "forked-plugins/idris-mode"]
	path = forked-plugins/idris-mode
	url = git@github.com:idris-hackers/idris-mode.git
[submodule "forked-plugins/prop-menu"]
	path = forked-plugins/prop-menu
	url = git@github.com:david-christiansen/prop-menu-el.git
[submodule "forked-plugins/hydra"]
	path = forked-plugins/hydra
	url = git@github.com:abo-abo/hydra.git
