*~
*#
*.elc
*.core
.svn
.smex-items
ac-comphist.dat
ido.last

/eshell/alias
/eshell/lastdir
eshell/history
TAGS
tramp
recentf
.emacs-project
elpa/abc-mode-readme.txt
elpa/ace-jump-mode-readme.txt
elpa/ack-and-a-half-readme.txt
elpa/ack-menu-readme.txt
elpa/adaptive-wrap-readme.txt
elpa/ag-readme.txt
elpa/all-ext-readme.txt
elpa/anything-git-grep-readme.txt
elpa/anything-readme.txt
elpa/aok-readme.txt
elpa/auto-indent-mode-readme.txt
elpa/bm-readme.txt
elpa/boxquote-readme.txt
elpa/color-moccur-readme.txt
elpa/confluence-readme.txt
elpa/dired+-readme.txt
elpa/el-x-readme.txt
elpa/eldoc-eval-readme.txt
elpa/elpy-readme.txt
elpa/find-file-in-project-readme.txt
elpa/gh-readme.txt
elpa/gitty-readme.txt
elpa/idle-highlight-mode-readme.txt
elpa/iedit-readme.txt
elpa/less-css-mode-readme.txt
elpa/list-utils-readme.txt
elpa/loop-readme.txt
elpa/mc-extras-readme.txt
elpa/paredit-everywhere-readme.txt
elpa/popup-readme.txt
elpa/shell-here-readme.txt
elpa/smex-readme.txt
elpa/surround-readme.txt
elpa/vline-readme.txt
elpa/archives/
.emacs.desktop
disabled/erlware-mode/
semanticdb/
srecode-map.el
url/cookies
.ropeproject
.org-id-locations
data/smex-items
places
