*#
*.core
*.elc
*~
.emacs-project
.emacs.desktop
.org-id-locations
.ropeproject
.smex-items
.svn
/.places
/abbrev_defs
/bookmarks
/elpa/elixir-mode-readme.txt
/elpa/helm-j-cheatsheet-readme.txt
/elpa/iy-go-to-char-readme.txt
/elpa/j-mode-readme.txt
/eshell/alias
/eshell/lastdir
/history
/pkg-langs/elpy/snippets
/pkg-langs/web-mode/demo.html
/request/curl-cookie-jar
/textdb/index.db
TAGS
ac-comphist.dat
data/smex-items
disabled/*
disabled/erlware-mode/
elpa/abc-mode-readme.txt
elpa/ace-jump-mode-readme.txt
elpa/ack-and-a-half-readme.txt
elpa/ack-menu-readme.txt
elpa/adaptive-wrap-readme.txt
elpa/ag-readme.txt
elpa/all-ext-readme.txt
elpa/anything-git-grep-readme.txt
elpa/anything-readme.txt
elpa/aok-readme.txt
elpa/archives/
elpa/auto-indent-mode-readme.txt
elpa/bm-readme.txt
elpa/boxquote-readme.txt
elpa/color-moccur-readme.txt
elpa/confluence-readme.txt
elpa/dired+-readme.txt
elpa/el-x-readme.txt
elpa/eldoc-eval-readme.txt
elpa/elpy-readme.txt
elpa/find-file-in-project-readme.txt
elpa/gh-readme.txt
elpa/gitty-readme.txt
elpa/idle-highlight-mode-readme.txt
elpa/iedit-readme.txt
elpa/less-css-mode-readme.txt
elpa/list-utils-readme.txt
elpa/loop-readme.txt
elpa/mc-extras-readme.txt
elpa/paredit-everywhere-readme.txt
elpa/popup-readme.txt
elpa/shell-here-readme.txt
elpa/smex-readme.txt
elpa/surround-readme.txt
elpa/vline-readme.txt
eshell/history
ido.last
places
recentf
semanticdb/
srecode-map.el
tramp
url/cookies
/h.places
/org-clock-save.el
.python-environments
elpa
pkg-langs
/image-dired/.image-dired_db
/image-dired
/helm-adaptive-history
/data/slime-history.eld
/jabber-avatar-cache
/jabber-history
snippets
.mypy_cache
/forked-plugins
creds.el
