[submodule "forked-plugins/elpy"]
	path = forked-plugins/elpy
	url = ssh://vps/home/cji/emacs/elpy
[submodule "forked-plugins/auto-complete"]
	path = forked-plugins/auto-complete
	url = ssh://vps/home/cji/emacs/auto-complete
[submodule "forked-plugins/popup-el"]
	path = forked-plugins/popup-el
	url = ssh://vps/home/cji/emacs/popup-el
[submodule "forked-plugins/lua-mode"]
	path = forked-plugins/lua-mode
	url = ssh://vps/home/cji/emacs/lua-mode.git
[submodule "forked-plugins/direx-el"]
	path = forked-plugins/direx-el
	url = https://github.com/m2ym/direx-el.git
[submodule "forked-plugins/emacs-jedi-direx"]
	path = forked-plugins/emacs-jedi-direx
	url = https://github.com/tkf/emacs-jedi-direx.git
[submodule "forked-plugins/dylan-mode"]
	path = forked-plugins/dylan-mode
	url = https://github.com/dylan-lang/dylan-mode.git
[submodule "forked-plugins/yasnippet"]
	path = forked-plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "forked-plugins/hy-mode"]
	path = forked-plugins/hy-mode
	url = git://github.com/hylang/hy-mode
[submodule "forked-plugins/emacs-jedi"]
	path = forked-plugins/emacs-jedi
	url = ssh://vps/home/cji/emacs/emacs-jedi
[submodule "forked-plugins/emacs-python-environment"]
	path = forked-plugins/emacs-python-environment
	url = https://github.com/tkf/emacs-python-environment.git
[submodule "forked-plugins/pyvenv"]
	path = forked-plugins/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv.git
[submodule "forked-plugins/expand-region-el"]
	path = forked-plugins/expand-region-el
	url = git@github.com:magnars/expand-region.el.git
[submodule "forked-plugins/emacs-async"]
	path = forked-plugins/emacs-async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "forked-plugins/helm"]
	path = forked-plugins/helm
	url = git@github.com:emacs-helm/helm.git
